@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");

.on-image {
  position: absolute;
  margin: 2rem 2rem;
}

.header {
  margin: 2rem 2rem;
}

.nabla-logo {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
}

.tagline {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 2rem;
  text-shadow: 2px 2px 7px #ffffff;
}

* {
  font-family: Arial, sans-serif;
}

.signin {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.content {
  margin-top: 2rem;
}

.form-label {
  font-weight: 700;
}

.label-check {
  font-size: small;
}

.btn-cust {
  margin-top: 2rem;
  width: 50%;
}

/* checkbox settings 👇 */

.ui-checkbox {
  --primary-color: #d73d7f;
  --secondary-color: #fff;
  --primary-hover-color: #d46193;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style)
    var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5)
    var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}

/* image */

.circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2px dashed #7e7d7d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.circle2 {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

input[type="file"] {
  display: none;
}

.circle img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.circle2 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.form-label2 {
  font-weight: bold;
  font-size: large;
  margin: 1rem 0;
  margin-top: 2rem;
}

.btn-cust2 {
  margin-top: 2rem;
  width: 25%;
}

.animation-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.avatar-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: avatarMove 3s ease-in-out infinite;
}

.avatar-image {
  max-width: 60%;
  max-height: 60%;
  object-fit: cover;
  border-radius: 50%;
}

/* */
.cardm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: whitesmoke;
  color: black;
  z-index: 2;
  transition: 0.4s ease-in-out;
}

.card img {
  height: 12rem;
}

.main {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 2rem;
}

.card2 {
  position: relative;
  top: -10rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130px;
  border-radius: 35px;
  background: white;
  z-index: -1;
  transition: 0.4s ease-in-out;
}

.card:hover {
  background-color: #d46193;
  cursor: pointer;
}

.card:hover + .card2 .lower {
  top: 11rem;
}

.lower {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  color: black;
  top: 1rem;
  font-size: 1rem;
  transition: 0.4s ease-in-out;
}

.card3 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  top: 1rem;
  font-size: 1.24em;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background: #d46193;
  color: #ffffff;
  transition: 0.4s ease-in-out;
}

.btn-cust3 {
  width: 100%;
}

/* verify page */
.mylink {
  text-decoration: none;
  color: #d73d7f;
}

#footer a {
  text-decoration: None;
  color: black;
}
